* {
  box-sizing: border-box;
}

*:root {
  --background: #F4F4F4;
  --background-hover: #eee;
  --background-code: rgba(60, 70, 84, 0.2);
  --text: #444;
  --text-dark: #111;
  --text-light: #666;
  --blue: #09f;
}

*[scheme='dark']:root {
  --background: #20252C;
  --background-hover: #3c4654;
  --background-code: rgba(180, 180, 180, 0.8);
  --text: #FAFAFA;
  --text-dark: #eee;
  --text-light: #666;
  --blue: #09f;
}

html,
body {
  background-color: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}


* {
  scrollbar-width: auto;
  scrollbar-color: var(--background) var(--text);
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 10px;
  border: 3px solid var(--background);
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

code {
  background-color: var(--background-code);
  color: #282c34;
  border-radius: 2px;
  padding: 2px 4px 1px;
}

pre {
  background: #282c34;
  border-radius: 4px;
  margin: 0;
  overflow-x: auto;
  padding: 16px;
  position: relative;
}

pre code {
  font-family: Consolas, Menlo, Monaco, source-code-pro, monospace;
  color: #f4f4f4;
  background-color: transparent;
  hyphens: none;
  line-height: 1.5;
  overflow: auto;
  tab-size: 2;
  text-align: left;
  white-space: pre;
}

pre code::before {
  color: #282c34;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 20px 0.4rem 0;
  width: fit-content;
  height: 2rem;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  right: 15px;
}

pre code.language-javascript::before {
  content: 'JS';
  background-color: #ff0;
}

pre code.language-css::before {
  content: 'CSS';
  color: #F4F4F4;
  background-color: #2965f1;
}

pre code.language-html::before {
  content: 'HTML';
  color: #F4F4F4;
  background-color: #e34f26;
}

@media (max-width: 500px) {

  html,
  body {
    font-size: 15px;
  }
}