.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    color: var(--text-dark);
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
    color: var(--text-dark);
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
    box-shadow: 0 8px 60px rgba(0, 0, 0, 0.2);
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: var(--text-light);
}

.markdown code {
    background-color: rgba(0, 0, 0, 6%);
    border-radius: 2px;
    padding: 2px 4px 1px;
}

.markdown pre {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    padding: 10px;
    color: #f4f4f4;
    overflow-x: scroll;
}